.navbar {
  width: 1440px; 
  height: 65px; 
  padding: 24px 0 0 0;
  border-bottom: 1px solid #6c7582;
}
a {
    text-decoration: none;
}
.divnavbar {
    display: flex;
    width: 1280px; 
    height: 41px; 
    gap: 64px; 
}
.logo {
    margin-top: 2.5px; 
    margin-bottom: 2.5px;
    margin-left: 80px;
}
.navlinks {
    display: flex;
    width: 920px; 
    height: 24px; 
    margin-top: 8.5px; 
    margin-bottom: 8.5px;
    margin-right: 32px;
}
.link {
    margin-right: 32px;
}
.cta {
    display: flex;
    width: 174px;
    height: 41px;
}
.ctalogin {
    margin-right: 16px;
    margin-top: 10px;
    width: 41px;
    height: 21px;
    font-size: 14px; /* Rozmiar czcionki */
    font-weight: 500; /* Grubość czcionki (font-medium) */
    font-family: Inter; /* Rodzina czcionek */
    line-height: 21px; /* Wysokość linii */
    letter-spacing: 0em; /* Odstęp między literami */
    text-align: left; /* Wyrównanie tekstu do lewej */
    color: white;
}
.primary {
    background-color: #1A56DB;
    color: white;
}
.hero {
  width: 1440px; /* Szerokość ustalona na 1440 pikseli */
  height: 626px; /* Wysokość 626 pikseli */
  background-color: #111928;
}
.container {
    display: flex;
    width: 1280px;
    height: 434;
    justify-content: space-between;
    margin-left: 80px;
    padding: 96px 0; 
}
.leftcontent {
    width: 576px;
    height: 434px;
}
.titledesc {
width: 576px;
height: 206px;
}
.heading {
    font-family: Inter; /* Rodzina czcionek */
  font-size: 48px; /* Rozmiar czcionki */
  font-weight: 800; /* Grubość czcionki (font-extrabold) */
  line-height: 48px; /* Wysokość linii (leading-none) */
  letter-spacing: 0; /* Odstęp między literami */
  text-align: left; /* Wyrównanie tekstu do lewej */
  color: white;
}
.supportingtext {
    font-family: Inter; /* Rodzina czcionek */
  font-size: 20px; /* Rozmiar czcionki */
  font-weight: 400; /* Grubość czcionki (font-normal) */
  line-height: 30px; /* Wysokość linii */
  letter-spacing: 0em; /* Odstęp między literami */
  text-align: left; /* Wyrównanie tekstu do lewej */
  color: #9CA3AF;
  margin-top: 20px;
}
.headingbuttons {
    display: flex;
    width: 380px;
    height: 48px;
    margin-top:32px;
}
.donatebutton {
    width: 182px; /* Szerokość ustalona na 182 piksele */
  height: 48px; /* Wysokość 48 pikseli */
  padding: 12px 20px; /* Odstęp wewnętrzny: 12 pikseli od góry i dołu, 20 pikseli od prawej i lewej */
  border-radius: 8px; /* Zaokrąglenie narożników */
  gap: 8px; 
  background-color: #1A56DB;
  color: white;
}
.learnbutton {
    width: 182px; /* Szerokość ustalona na 182 piksele */
  height: 48px; /* Wysokość 48 pikseli */
  padding: 12px 20px; /* Odstęp wewnętrzny: 12 pikseli od góry i dołu, 20 pikseli od prawej i lewej */
  border-radius: 8px; /* Zaokrąglenie narożników */
  border: 1px solid; /* Grubość obramowania i rodzaj (np. solid, dashed, dotted) */
  gap: 8px; 
  color: #6c7582;
  background-color: #1F2A37;
  border-color: #4B5563;
  margin-left: 16px;
}
.sponsors {
    width: 576px; /* Szerokość ustalona na 576 pikseli */
    height: 116px; /* Wysokość 116 pikseli */
    padding: 32px 0 0 0; /* Odstęp wewnętrzny: 32 piksele od góry, 0 od prawej, 0 od dołu, 0 od lewej */
    border-top: 1px solid #6c7582;
    margin-top: 32px;
}
.supportingsponsors {
    width: 576px;
    height: 24px;
    font-family: Inter; /* Rodzina czcionek */
    font-size: 16px; /* Rozmiar czcionki */
    font-weight: 500; /* Grubość czcionki (font-medium) */
    line-height: 24px; /* Wysokość linii */
    letter-spacing: 0em; /* Odstęp między literami */
    text-align: left; /* Wyrównanie tekstu do lewej */
    color: #6B7280;

}
.logos {
    display: flex;
    width: 576px;
    height: 48px;
    justify-content: space-between;
    margin-top: 12px;
}
.intel {
    width: 87px;
    height: 48px;
}
.carousel {
    width: 576px;
    height: 360px;
    padding: 330.63px, 0px, 17.37px, 0px;
    border-radius: 8px;
    margin-top: 37px;
    margin-bottom: 37px;
}
.socialproof {
    width:1440px;
    height: 213px;
    padding: 0px, 0px, 96px, 0px;
    border: 1px, 0px, 1px, 0px;
    gap: 64px;
    background-color: #111928;
}
.container2 {
    width: 1280px;
    height: 117px;
    gap: 48px;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    height: 117px;
    padding: 24px, 16px, 24px, 16px;
    border-radius: 8px;
    border: 1px solid #374151;
    background-color: #1F2A37;
    margin-left: 208px;
    margin-right: 208px;
}
.stat {
    width: 248px;
    height: 69px;
    border-right: 1px solid gray;
    margin-top: 24px;
    margin-bottom: 24px;
}
.stat:last-child {
    border-right: none;
}
.headingstat {
    width: 248px;
    height: 45px;
    font-family: Inter; /* Rodzina czcionek */
    font-size: 36px; /* Rozmiar czcionki */
    font-weight: 800; /* Grubość czcionki (font-extrabold) */
    line-height: 45px; /* Wysokość linii (leading-tight) */
    letter-spacing: -0.01em; /* Odstęp między literami */
    text-align: center; /* Wyrównanie tekstu do środka */
    color: white;
}
.supportingstat {
    width: 248px;
    height: 24px;
    font-family: Inter; /* Rodzina czcionek */
    font-size: 16px; /* Rozmiar czcionki */
    font-weight: 400; /* Grubość czcionki (font-normal) */
    line-height: 24px; /* Wysokość linii */
    letter-spacing: 0em; /* Odstęp między literami */
    text-align: center; /* Wyrównanie tekstu do środka */
    color: #9CA3AF;
}
.cta2 {
    display: flex;
    justify-content: space-around;
  width: 1440px; /* Szerokość diva */
  height: 1444.34px; /* Wysokość diva */
  padding: 0px 0px 96px 0px; /* Wartości padding: top, right, bottom, left */
  border: 1px; /* Grubość i kolor obramowania diva */
  gap: 10px; /* Odl*/
  background-color: #111928;
}
.container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1280px; /* Szerokość diva */
  height: 1348.34px; /* Wysokość diva */
  gap: 64px; /* Odległoś*/
}
.row2 {
    display: flex;
    width: 1280px; /* Szerokość diva */
    height: 406.78px; /* Wysokość diva */
    gap: 80px; /* Odległo*/
}
.rightContent {
    display:flex;
    flex-direction: column;
    width: 640px;
  height: 260px;
  gap:24px;
  margin-top: 73.39px;
  margin-bottom: 73.39px;
}
.headingContainer {
    width: 640px;
  height: 90px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -0.01em;
  text-align: left;
  color: white;
}
.supportingContainer {
    width: 640px;
  height: 81px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #9CA3AF;
}
.buttonsContainer {
    display: flex;
    gap: 16px;
}
.buttonArrow1 {
    width: 152px;
    height: 41px;
    padding: 10px 20px;
    border-radius: 8px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A56DB; /* Kolor tła */
    color: #ffffff; /* Kolor tekstu */
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    cursor: pointer;
    justify-content: space-between; /* Odstęp między tekstem a ikoną */
}
.buttonArrow1:hover {
    background: #004080; /* Kolor tła po najechaniu kursorem */
  }
  .buttonArrow2:hover {
    background: #004080; /* Kolor tła po najechaniu kursorem */
  }
  .buttonArrow3:hover {
    background: #004080; /* Kolor tła po najechaniu kursorem */
  }
  .buttonArrow2 {
    width: 184px;
  height: 41px;
  padding: 10px 20px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A56DB; /* Kolor tła */
  color: #ffffff; /* Kolor tekstu */
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
  cursor: pointer;
  }
  .buttonArrow3 {
    width: 140px;
    height: 41px;
    padding: 10px 20px;
    border-radius: 8px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A56DB; /* Kolor tła */
    color: #ffffff; /* Kolor tekstu */
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    cursor: pointer;
  }
.buttonSupporting {
  color: #6c7582;
  background-color: #1F2A37;
  width: 116px;
  height: 41px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #4B5563; /* Grubość i kolor obramowania */
  gap: 8px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  align-items: center; /* Wyrównanie tekstu i ikony w pionie */
  justify-content: space-between; /* Odstęp między tekstem a ikoną */
}
.buttonSupporting:hover {
    background: linear-gradient(0deg, #1F2A37, #1F2A37); /* Kolor tła po najechaniu kursorem */
  color: #4B5563; /* Kolor tekstu po najechaniu kursorem */
}
.customersLogos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1440px;
  height: 877px;
  padding: 96px 0px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #374151;
  gap: 64px;
  background-color: #1F2A37  ;
  box-sizing: border-box;
}
.headingDesk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 672px;
    height: 161px;
    gap: 16px;
    box-sizing: border-box;
    margin-left:384px;
    margin-right:384px;
}
.headingLogos {
    width: 640px;
  height: 90px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -0.01em;
  text-align: center;
  box-sizing: border-box;
  color: #ffffff;
}
.supportingTextLogos {
    width: 640px;
    height: 81px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    box-sizing: border-box;
    color: #9CA3AF;
}
.ctaLogos {
    display: flex;
    justify-content: center;
    width: 168px;
    height: 24px;
    gap: 6px;
    box-sizing: border-box;
    margin-left: 260px;
}
.description {
    width: 142px;
  height: 24px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #3F83F8;
  box-sizing: border-box;
}
.arrowLogos {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.containerLogos {
    width: 1280px;
    height: 460px;
    gap: 32px;
    box-sizing: border-box;
    margin-left: 180px;
}
.rowLogos {
    display: flex;
    justify-content: space-evenly;
    width: 1280px;
    height: 132px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.sprint2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.cardLogos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: 100%;
    border-radius: 8px;
    gap: 20px;
    box-sizing: border-box;
}
.logoAndText {
  width: 142px;
  height: 78px;
  gap: 10px;
  box-sizing: border-box;
}
.logoButton {
    width: 122px;
  height: 34px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #4B5563; /* Dodaj konkretny kolor lub usuń, aby użyć koloru domyślnego */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  /* Dodatkowe stylizacje według potrzeb */

  /* Stylizacja koloru tła w zależności od wymaganego koloru */
  background-color: #1F2A37; /* Kolor "Alternative Dark" */
  color: #9CA3AF;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.title2 {
    font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
    text-align: left;
    color: #9CA3AF;
    box-sizing: border-box;
}
.cta-fund {
    width: 1440px;
    height: 997px;
    padding: 96px 0;
    gap: 10px;
    background: #111928;
}
.container-fund {
    width: 1280px;
  height: 805px;
  gap: 32px;
}
.heading-fund {
    width: 676px;
    height: 121px;
    gap: 16px;
}
.heading-fund-text {
    width: 640px;
  height: 45px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #FFFFFF;
}
.supporting-fund-text {
    width: 640px;
    height: 60px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #9CA3AF;
}
.cards-fund {
    display: flex;
  width: 1280px; /* Maksymalna szerokość 1,280px */
  height: 593px;
  gap: 48px;
}
.card-fund {
    width: 100%;
  max-width: 616px;
  height: 593px;
  padding: 32px;
  border-radius: 8px;
  border: 1px solid #374151; /* Kolor obramowania */
  gap: 16px;
  background: linear-gradient(0deg, #1F2A37, #1F2A37), linear-gradient(0deg, #374151, #374151);
}
.mockup-fund {
    width: 552px;
    height: 288px;
    border-radius: 8px;
}
.progress-bar-fund {
    width: 100%; /* Fill (552px) - ustawiamy na 100%, co oznacza pełną szerokość */
  max-width: 552px; /* Maksymalna szerokość 552px */
  height: 41px;
  gap: 4px;
}
.progress-bar-label {
    width: 100%; /* Fill (552px) - ustawiamy na 100%, co oznacza pełną szerokość */
    max-width: 552px; /* Maksymalna szerokość 552px */
    height: 27px;
    display: flex;
    justify-content: space-between;
}
.progress-bar-max {
    width: 552px;
  height: 10px;
  border-radius: 2px;
  background: #374151;
}
.progress-bar {
    width: 441.6px;
    height: 10px;
    border-radius: 2px;
    background: #1C64F2;
}
.sum {
    width: 86px;
  height: 27px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.left-content-fund {
    display: flex;
    width: 178px;
    height: 27px;
    gap: 8px;
}
.left-content-fund-text {
    width: 84px;
    height: 21px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #9CA3AF;
}